*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

.header{
	width:100%;
	height:100vh;
	background-image:url("image/banner.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.navbar-brand{
	font-size: 31px;
color: #444444;
font-weight: 700;
}

.navbar-nav li a{
	font-size: 14px;
letter-spacing: 1px;
color: #646363;
font-weight: 700;
margin: 0 30px;
position: relative;
}
.navbar-nav li a:before {
    content:"";
    position: absolute;
    top: 80%;
    bottom: 20%;
    width: 0%;
    height: 8%;
    background:#003F10;
    transition: all 0.3s linear;
}
.navbar-nav li a:hover{
	color: #3e436b;
}
.navbar-nav li a:hover:before{
	width: 80%;	
}

.nav-item .fa-bars{
	margin-left:6rem;
	margin-right:5.5rem;
	color:  #646363;
	line-height: 3px;
	font-size: 1.6rem;
}
.navbar-toggler-icon i{
color:#000;
font-size: 1.6rem;
}
@media screen and (max-width: 768px){
	.nav-item img{
		display: none;	
	}
	.navbar-nav li a:hover:before{
		display:none;
	}
}


.header-section{
	width: 100%;
	height: inherit;
	color: white;
	position: relative;
}

.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	margin-top:220px;
	
}
.center-div h1{
	color: #ECCC1F;
}

.center-div button{
	width: 145px;
	height: 40px;
	border-radius: 30px;
	 background-color:#fff;
     color: #000;
     font-weight: 700;
     margin-top: 23px;
}

@media screen and (max-width: 768px){
	.center-div h1{
		margin-top: 40px;
		font-size: 3rem;
	}
	.center-div p{
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 1px;
}
    
}

.banner{
	width:100%;
	height:100vh;
	background-image:url("image/light-bulb.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.header-section{
	width: 100%;
	height: inherit;
	color: white;
	position: relative;
}

.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	margin-top:220px;
	
}
.center-div h1{
	color: #ECCC1F;
}

.center-div button{
	width: 145px;
	height: 40px;
	border-radius: 30px;
	 background-color:#fff;
     color: #000;
     font-weight: 700;
     margin-top: 23px;
}

@media screen and (max-width: 768px){
	.center-div h1{
		margin-top: 40px;
		font-size: 3rem;
	}
	.center-div p{
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 1px;
}
    
}